<!DOCTYPE HTML>

<html>
	<head>
		<title>月晓风清</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/index.css" />
		<noscript><link rel="stylesheet" href="../static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>AIR</strong> <span>pollution</span></a>
						<nav>
							<a href="#menu">菜单</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">主页</a></li>
							<li><a href="index.html">关于</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>欢迎来到月晓风清</h1>
							</header>
							<div class="content">
								<p>一个空气污染物相关的网站</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">开始</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="../static/images/pic01.png" alt="" />
									</span>
									<header class="major">
										<h3><a href="main" class="link">可视化大屏</a></h3>
										<p>空气质量指标的大数据统计大屏展示</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="../static/images/aqi.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="aqi.html" class="link">大数据统计概况</a></h3>
										<p>关于空气各项质量指标的大数据统计概况</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="../static/images/pic03.png" alt="" />
									</span>
									<header class="major">
										<h3><a href="data_statistic_01.html" class="link">污染物信息概况</a></h3>
										<p>关于空气各项污染物的相关信息概况</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="../static/images/pic04.png" alt="" />
									</span>
									<header class="major">
										<h3><a href="data_statistic_01.html" class="link">健康指南</a></h3>
										<p>空气污染的一个重要风险因素是导致一系列健康问题，包括呼吸感染、心脏病、慢性阻塞性肺病、中风和肺癌</p>
									</header>
								</article>
							</section>
						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2><strong>AQI</strong></h2>
									</header>
									<p>空气污染物是空气中的物质，对人类和生态环境产生有害影响。该物质可以是固态颗粒、液态液滴、或是气体...污染物可以是天然的，
										也可以是人造的。污染物被分为初级污染物和次生污染物。初级污染物通常由过程产生，如火山喷发的烟灰。
										其它例子包括机动车尾气中的一氧化碳，或工厂排放的二氧化硫。次生污染物不是被直接排放的。
										它们是由初级污染物反应形成的。地面臭氧层就是典型的次生污染物。
										有些污染物可以既是初级的，又是次生的：它们可能来自直接排放，或是由其它初级污染物合成而来。 </p>
									<ul class="actions">
										<li><a href="data_statistic_01.html" class="button next">Get Started</a></li>
									</ul>

								</div>
							</section>

					</div>
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy;版权</li><li> 马帅 <a href="">延安大学</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/index.js"></script>
	</body>
</html>